/*¶¥²¿banner fixed*/
.ch-header {background: #a31022;color: #fff;height: 2.7rem;position: fixed;top: 0;left: 0;width: 100%;z-index: 9999;}
.ch-header-tailormade {margin-right: 2rem;}
#MAIN {padding-top: 2.71rem;}