<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <title>Agencia local de viaje a medida de China-Viaje A China</title>
  <link rel="canonical" href="https://www.viaje-a-china.com/">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta name="description" content="Agencia local china, expertos en viajes privados en China,100% dedicados a sus necesidades. Viaja con guías experimentados y choferes profesionales,  tiene garantía de calidad de servicio.">
  <meta name="keywords" content="Viaje a China, agencia de viajes a china">
  <script async="" src="https://cdn.ampproject.org/v0.js"></script>
  <style amp-boilerplate="">body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate="">body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

  <script custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async=""></script>
  <script custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js" async=""></script>
  <script custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js" async=""></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

  <style amp-custom="">
    <%- css%>
  </style>

</head>
<body>
  <header class="ChBanner flex justify-start items-center pl2 ch-header">
    <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabIndex="0" class="pr2 ch-header-menubar">
      <span className="icon-bar"></span>
      <span className="icon-bar"></span>
      <span className="icon-bar"></span>
    </div>
    <div class="my0 mx-auto relative ch-header-banner"> CHINAHIGHLIGHTS<sup>®</sup> </div>
    <a class="text-decoration-none mr2 block ch-header-tailormade" href="#"> Create my tour ! </a>
  </header>
  <!-- Start Sidebar -->
  <amp-sidebar id="header-sidebar" class="ampstart-sidebar px3  " layout="nodisplay">

    <div class="flex justify-start items-center ampstart-sidebar-header">
      <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
    </div>

    <nav class="ampstart-sidebar-nav ampstart-nav pt2">
      <ul class="list-reset m0 p0 ampstart-label">
        <li class="ampstart-nav-item "><a class="ampstart-nav-link" href="/">Inicio</a></li>
        <li class="ampstart-nav-item "><a class="ampstart-nav-link" href="/su-viaje-a-medida/">Viaje A Medida China</a></li>
        <li class="ampstart-nav-item "><a class="ampstart-nav-link" href="/viajes-china/oferta-anual-de-viaje-china/">Tours China 2018</a></li>
        <li class="ampstart-nav-item ampstart-nav-dropdown relative ">
          <!-- Start Dropdown-inline -->
          <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown">
            <section>
              <header>Viajes China</header>
              <ul class="ampstart-dropdown-items list-reset m0 p0">
                  <li class="ampstart-dropdown-item"><a href="/viajes-china/" class="text-decoration-none">Inicio</a></li>
                  <li class="ampstart-dropdown-item"><a href="/viajes-china/tren-china-tour/" class="text-decoration-none">Viajes de Tren China</a></li>
                  <li class="ampstart-dropdown-item"><a href="feria-de-canton/viaje-de-feria-de-canton.htm" class="text-decoration-none">Viaje de Feria de Cantón</a></li>
                  <li class="ampstart-dropdown-item"><a href="viajes-china/vacaciones-tours/" class="text-decoration-none">Vacaciones Tours</a></li>
                  <li class="ampstart-dropdown-item"><a href="viajes-china/vac-4b/" class="text-decoration-none">Viaje Clásica China desde México</a></li>
              </ul>
            </section>
          </amp-accordion>
          <!-- End Dropdown-inline -->
        </li>
        <li class="ampstart-nav-item ampstart-nav-dropdown relative ">
          <!-- Start Dropdown-inline -->
          <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown">
            <section>
              <header>Destinos</header>
              <ul class="ampstart-dropdown-items list-reset m0 p0">
                  <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/viajes-ciudad/">Inicio</a></li>
                  <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/viajes-beijing/">Viajes Beijing</a></li>
                  <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/viajes-shanghai/">Viajes Shanghai</a></li>
                  <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/viajes-guilin/">Viajes Guilin</a></li>
                  <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/viajes-xian/">Viajes Xi´an</a></li>
                  <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/viajes-hong-kong/">Viajes Hong Kong</a></li>
                  <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/viajes-zhangjiajie/">Viajes Zhangjiajie</a></li>
              </ul>
            </section>
          </amp-accordion>
          <!-- End Dropdown-inline -->
        </li>
        <li class="ampstart-nav-item ampstart-nav-dropdown relative ">
          <!-- Start Dropdown-inline -->
          <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown">
            <section>
              <header>Tren China</header>
              <ul class="ampstart-dropdown-items list-reset m0 p0">
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/tren-de-china/">Inicio</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/viajar-en-tren-por-china/">Viajar en Tren por China</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/tren-de-china/estacion-de-ferrocarril-china/">Estación de Ferrocarril China</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/tren-de-china/tren-internacional-china/">Los trenes internacionales de China</a></li>
              </ul>
            </section>
          </amp-accordion>
          <!-- End Dropdown-inline -->
        </li>
        <li class="ampstart-nav-item ampstart-nav-dropdown relative ">
          <!-- Start Dropdown-inline -->
          <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown">
            <section>
              <header>Guía China</header>
              <ul class="ampstart-dropdown-items list-reset m0 p0">
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/guia-china/">Inicio</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/cultura/ano-nuevo-chino/">Año Nuevo Chino 2018</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/guia-china/zodiacos-chinos/">Los Zodiacos Chinos</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/oso-de-panda/">Panda Gigante</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/gran-muralla/">Gran Muralla de China</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/guia-beijing/">Beijing</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/guia-xian/">Xi'an</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/guia-shanghai/">Shanghai</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/guia-guilin/">Guilin</a></li>
              </ul>
            </section>
          </amp-accordion>
          <!-- End Dropdown-inline -->
        </li>
        <li class="ampstart-nav-item ampstart-nav-dropdown relative ">
          <!-- Start Dropdown-inline -->
          <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown">
            <section>
              <header>Tren China</header>
              <ul class="ampstart-dropdown-items list-reset m0 p0">
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="/cultura/">Inicio</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="cultura/kung-fu-chino.htm">KungFu</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="cultura/comida-china.htm">Comida</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="guia-china/zodiacos-chinos/">Horóscopo chino</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="cultura/te-chino.htm">Té chino</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="cultura/medicina-tradicional-china.htm">Medicina China</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="cultura/historia-china.htm">Historia</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="cultura/festivales-chinos.htm">Festivales Chinos</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="cultura/ano-nuevo-chino/">Año Nuevo Chino</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="cultura/festival-de-la-linterna.htm">Fiesta de Linterna</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="cultura/festival-del-medio-otono.htm">Fiesta del Medio Otoño</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="cultura/festival-de-la-barca-del-dragon.htm">Fiesta de Barca Dragón</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="guia-harbin/atracciones/el-gran-mundo-del-hielo-y-nieve.htm">Fiesta del Hielo y Nieve en Harbin</a></li>
                <li class="ampstart-dropdown-item"><a class="text-decoration-none" href="cultura/festivales-chinos.htm">Calendario de Fiestas Públicas de China</a></li>
              </ul>
            </section>
          </amp-accordion>
          <!-- End Dropdown-inline -->
        </li>
        <li class="ampstart-nav-item "><hr/></li>
        <li class="ampstart-nav-item "><a class="ampstart-nav-link" href="/quienessomos/">Quiénes Somos</a></li>
        <li class="ampstart-nav-item "><a class="ampstart-nav-link" href="/contacto/">Contacto</a></li>
      </ul>
    </nav>
    <ul class="ampstart-social-follow list-reset flex items-center flex-wrap m0 mb4">
        <li>
            <a href="https://www.twitter.com/ViajeAChinaCITS" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Twitter"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="22.2" viewbox="0 0 53 49"><title>Twitter</title><path d="M45 6.9c-1.6 1-3.3 1.6-5.2 2-1.5-1.6-3.6-2.6-5.9-2.6-4.5 0-8.2 3.7-8.2 8.3 0 .6.1 1.3.2 1.9-6.8-.4-12.8-3.7-16.8-8.7C8.4 9 8 10.5 8 12c0 2.8 1.4 5.4 3.6 6.9-1.3-.1-2.6-.5-3.7-1.1v.1c0 4 2.8 7.4 6.6 8.1-.7.2-1.5.3-2.2.3-.5 0-1 0-1.5-.1 1 3.3 4 5.7 7.6 5.7-2.8 2.2-6.3 3.6-10.2 3.6-.6 0-1.3-.1-1.9-.1 3.6 2.3 7.9 3.7 12.5 3.7 15.1 0 23.3-12.6 23.3-23.6 0-.3 0-.7-.1-1 1.6-1.2 3-2.7 4.1-4.3-1.4.6-3 1.1-4.7 1.3 1.7-1 3-2.7 3.6-4.6" class="ampstart-icon ampstart-icon-twitter"></path></svg></a>
        </li>
        <li>
            <a href="https://www.facebook.com/ViajeAChina" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Facebook"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="23.6" viewbox="0 0 56 55"><title>Facebook</title><path d="M47.5 43c0 1.2-.9 2.1-2.1 2.1h-10V30h5.1l.8-5.9h-5.9v-3.7c0-1.7.5-2.9 3-2.9h3.1v-5.3c-.6 0-2.4-.2-4.6-.2-4.5 0-7.5 2.7-7.5 7.8v4.3h-5.1V30h5.1v15.1H10.7c-1.2 0-2.2-.9-2.2-2.1V8.3c0-1.2 1-2.2 2.2-2.2h34.7c1.2 0 2.1 1 2.1 2.2V43" class="ampstart-icon ampstart-icon-fb"></path></svg></a>
        </li>
    </ul>
  </amp-sidebar>
  <!-- End Sidebar -->
    <!--main-->
  <main id="MAIN" role="main">
    <%- html %>
  </main>
  <!--footer-->
  <footer class="ampstart-footer flex flex-column items-center px2 ch-footer left-align">
    <nav class="ampstart-footer-nav mb2">
      <ul class="list-reset flex flex-wrap">
        <li class="mr1"><a class="text-decoration-none ampstart-label" href="/quienessomos/">Quiénes Somos</a> | </li> 
        <li class="mr1"><a class="text-decoration-none ampstart-label" href="/contacto/">Contacto</a> | </li>  
        <li class="mr1"><a class="text-decoration-none ampstart-label" href="/feedback/">Feedback</a></li>
      </ul>
    </nav>
    <small>
      China Highlights International Travel Service Co., Ltd <br>
      Licencia de Operación Turística: L-GX00724 <br>
      © 1998-2017 China Highlights — Discovery Your Way!
    </small>
    <div class="ch-fixedTailor fixed">
      <a href="/su-viaje-a-medida/">Crear Mi Tour !</a>
    </div>
  </footer>
</body>
</html>