body {
  background-color: #fefefe;
}

.App {
  text-align: center;
}

.App hr {
  height:1px;
  border:none;
  border-top:1px dashed #AAA;
}

.App .device-pos {
  position: absolute;
  top: 0;
  left: -24px;
  z-index: -9;
}

.App .bsform {
  background-color: white;
  margin: 1em;
  padding: 0.5em;
  border: 2px solid #333;
  border-radius: 5px;
  text-align: left;
}

.App .bsform * {
  box-sizing: border-box;
}
.bsform {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
}
.bsform label {
  font-size: 0.8em;
  color: #089;
}
.bsform legend {
  font-size: 0.95em;
  position: relative;
  top:7px;
}
.bsform .array-item {
  box-shadow: 0 0 3px #999;
  margin: 0 1em 1em;
  padding: 0.5em 0.5em 0 0;
}
.bsform .array-item .array-item-toolbox {
  top: 20px;
  right: 8px;
}

.field.field-array {padding: 0;}
.field.field-array legend {padding-bottom: 5px;}

.bsform .array-item .form-group {
  margin-bottom: 8px;
}
.bsform .array-item:last-child {
  margin-bottom: 0;
}
.bsform .array-item:after {
   content:""; 
   display: block; 
   clear:both; 
}
#root__title {
  font-size: 1em;
  color: #000;
  line-height: 1.7em;
}
.panel.panel-danger.errors {
  color: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 2.5em;
}

.App-header {
  background-color: #f9f9f9;
  padding: 0.3em;
  color: white;
  box-shadow: 0 0 5px #AAA;
}

.App ::-webkit-scrollbar {
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App .codemirror {
  text-align: left;
  width: 100%;
  height: auto;
}

.App .coldarea {
  position: absolute;
  width: 100%;
}

.App .iPhone8Btn {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 159px;
  bottom: -176px;
  cursor: pointer;
  z-index: 100;
  border-radius: 50%;
  background: none;
}

/*Dustbin*/
.App .dustbin {
  position: absolute;
  width: 5em;
  height: 5em;
  background: #eee;
  top: 0;
  right: 0;
}

.App .portal {
  width: 60%;
  margin: 0 auto;
}

/*CardBox*/
.CardBox {
  width: 440px;
  height: 100%;
  background: #f7e8dd;
  border-radius: 5px;
  border: 2px solid #e4b08a;
}
.CardBoxItem {
  background: #FFF;
  border-radius: 5px;
  border: 2px solid #666;
  text-align: left;
}
.CardBoxTitle {
  color: #333;
  text-shadow: 0px 0px 2px pink;
}

/*FrameBox*/
.FrameBox {
  width: 375px;
  height: 667px;
}
.iPhone8 {
  width: 371px;
  height: 663px;
  position: relative;
  top: 104px;
  left: 0;
  overflow: scroll;
  border-radius: 1px;
  text-align: left;
}

.CodeMirror {
    border: 1px solid #eee;
    height: 600px;
}

.hvr-radial-out:before {
  background: #f7e8dd;
}
.hvr-border-fade {
  box-shadow: inset 0 0 0 4px #f7e8dd, 0 0 1px transparent;
}
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  /*box-shadow: inset 0 0 0 4px #073, 0 0 1px transparent;*/
}

.react-tabs__tab {
  color: #555;
  font-size: 0.9em;
}
.react-tabs__tab-list {
  border-color: #999;
}
.react-tabs__tab--selected {
  border-color: #999;
  background: #f7e8dd;
  color: #333;
  text-shadow: 0 0 2px pink;
  font-size: 0.95em;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 26px;
  top: 0.8em;
  right: 2em;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #07c;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #000;
}

/* General sidebar styles */
.bm-menu {
  background: #f9f9f9;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #069;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}
.bm-menu-wrap {
  top: 0;
}
.menu-item {
  color: gray;
  font-size: 0.8em;
}

.ChCarouselNext,.ChCarouselPrev {
  background-color: #000;
  width: 1.5em;
  height: 1.5em;
  color: #fff;
  text-align: center;
  padding-top: 0.08em;
  font-size: 2em;
  opacity: 0.7;
  position: absolute;
  border-radius: 0.2em;
  border: 2px solid #eee;
  top: 40%;
}
.ChCarouselPrev {
  left: 0.5em;
}
.ChCarouselNext {
  right: 0.5em;
}
.ChCarouseCount {
  background-color: #000;
  color: #fff;
  position: absolute;
  text-align: center;
  padding-top: 0.8em;
  width: 3em;
  height: 3em;
  top: 40%;
  left: 44%;
  border-radius: 50%;
  opacity: 0.8;
  border: 2px solid #eee;
}
.i-amphtml-layout-size-defined .i-amphtml-fill-content {border-radius: 3px;}
.homeTours .i-amphtml-layout-size-defined .i-amphtml-fill-content {
    border-radius: 4px 4px 0 0;
}

.row.array-item-list .array-item > .col-xs-9 {
  width: 100%;
}
.row.array-item-list .array-item > .col-xs-3 {
  width: 100%;
  position: relative;
  top: 0.4rem;
  right: 3.3rem;
  float: none;
}

.array-item .form-group.field.field-object > fieldset {
  padding-left: 3px;
  padding-right: 0;
}

#loading {}
#Saving {
  width: 15rem;
  font-size: 0.7rem;
  display: inline-block;
  margin: auto 0;
  color: #0099cc;
  height: 5rem;
}

.switchbar {}
.switchbar span {
  font-size: 1.5rem;
  color: #054;
  vertical-align: top;
  padding-right: 0.3rem;
}