/*部件CSS*/

body {
  color: #333;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  line-height: 1.7rem;
}

/*ch-banner*/
.ch-header {background: #a31022; color: #fff; height: 2.7rem;}
.ch-header-menubar {font-size: 1.5rem; font-weight: bold; color: #fff;}
.ch-header-banner {right: 0.5rem; top: 2px;}
.ch-header-tailormade {font-size: 0.5rem;color: #ddd;padding: 0.4rem;border: 1px solid #ddd; border-radius: 3px;}

/*ChImg*/
.i-amphtml-layout-size-defined .i-amphtml-fill-content {border-radius: 3px;}

/*ChA*/
a.ChA {color:#069; text-decoration: underline;}

/*ChP*/
/*p.ChP {line-height: 1.7rem;}*/

/*ChUl*/
.ChUl ul li {
  background: url(//data.chinahighlights.com/image/travelguide/culture/index/list-gray.jpg) no-repeat 0 center;
  padding-left: 1.2rem;
  line-height: 1.7rem;
  font-size: 1rem;
}
.ChUl ul li.listSytleNumber {
  list-style: decimal;
  list-style-position: inside;
  padding-left: 0;
  background-image: none;
}
.ChUl p {
  margin-bottom: -0.5rem;
  font-size: 1.2rem;
}

/*ChCarousel*/
.ChCarousel .i-amphtml-layout-size-defined .i-amphtml-fill-content {
  border-radius: 0;
}

/*ChImg2*/
.homeBrand span {
    background: #d1d1d1;
    text-align: center;
    padding: 0.6em 0.5rem;
    display: block;
    font-size: 1.1rem;
    line-height: 1.7rem;
    box-shadow: 0 0 6px #000;
    color: #555;
}

/*ChTour*/
.homeTours amp-img, .homeTours .i-amphtml-layout-size-defined .i-amphtml-fill-content {
    border-radius: 4px 4px 0 0;
}
.tourPackage {
    background: #f4f4f4;
    padding: 1rem 1.2rem;
    border-radius: 0 0 6px 6px;
    border: 1px solid #d6d6d6;
}
.tourPackage h3 {
    margin: 0.3rem 0 0.5rem;
    font-weight: normal;
}
.tourPackage .destinations {
    display: block;
    margin: 0.5rem 0 0rem;
    color: #777;
    overflow: hidden;
    font-size: 0.9rem;
    line-height: 1.7rem;
}
.tourPackage .viewDetail {
    background: #a31022;
    text-align: center;
    display: block;
    border-radius: 4px;
    margin: 0.5rem 0;
    padding: 0;
}
.tourPackage .viewDetail>a {
    color: #fff;
    text-decoration: none;
    font-size: 1.05rem;
    padding: 0.65em 0;
    display: block;
}